@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f5f7;
    font-size: x-large;
    color: rgb(16,75,43);
    
}

.container {
    margin: 0 20%;
}

img {
    width: 450px;
    border-radius: 17%;
}

label, select {
    display: inline;
    padding: 10px;
    border-color: rgb(0, 38, 255);
}

input, textarea {
    border-color: rgb(0, 38, 255);    
}

input:hover, textarea:hover, select:hover {
    transform: scale(1.05);
    transition-duration: 0.2;    
}


select {
    margin: 0  15px;
}

fieldset{
    margin: 20px 0;
    padding: 15px 0;
    border-color: rgb(0, 38, 255);  
    border-style: groove;    
}

.pagamento label{
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}

#telefone {
    height: 52px;
}

#data {
    height: 52px;
    margin-top: 15px;
}

#visitantes label {
    margin: 5px;
}


legend{
    padding: 0px 10px;
    margin: 10px 0;
}

.legenda {
    margin: 10px;
}


button {
    margin: 5px;
    font-size: 20px;
}

.enviar {
    background-color: rgb(30, 27, 202);
    color: white;
    text-decoration-line: none;   
}

.enviar:visited {
    
    color: white;
    text-decoration-line: none; 
}

.reset {
    background-color: rgb(251, 82, 3);
    color: white;
   
}


.dados {
    padding: 10px;
}

fieldset .dados { 
    text-align: center;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    flex-wrap: wrap;
    margin: 15px;
}