@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');



* { 
    padding: 0;
    margin: 0;
    box-sizing:border-box
}

body {
    background-image: url(https://site.sorriso.mt.gov.br/storage/app/uploads/public/cve/002/pms/cve002pms92757A210C.jpg);
    background-size:center;
    max-height: 100%;
    
    
}

.titulo {
    color: white;
    font-size: 50px;
    text-align:center;
    background-color: rgba(8, 3, 56, 0.85);
    font-family: 'Acme', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;

}

.introducao {
    color: white;
    font-size: 30px;
    text-align: justify;
    background-color: rgba(8, 3, 56, 0.85);
    margin: 50px;
    padding: 30px;
    font-family: 'Glory', sans-serif;

}

#video {
    display: block;
    margin: auto;
}

.linha{
    display: flex;
}

.coluna {
    flex: 50%;
    margin: 0 50px;
    gap: 5px;
}


.imagem {
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: black;
    margin: 5px 0;
}

.imagem:hover { 
    transform: scale(1.02);
    filter: brightness(120%);
    transition: .5s ease-in-out;    
}

.legenda1 {
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    width: 114%;
    margin: 5px;
    padding: 3px;
    font-family: 'Lobster', cursive;
}

.legenda2 {
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;    
    padding: 3px;
    font-family: 'Lobster', cursive;
}

.logos {
    height: 5%;
    background-color: rgb(233, 223, 223);
    border-radius: 50%;
    padding: 5px;
    margin: 0 10px;
    height: 60px;
}

.rodape {
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.55);
    font-family: 'Acme', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.pin {
    width: 80px;
    display: inline-block;
    
}

.agendar {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;    
    right: 15px;
    bottom: 15px;
    border-radius: 10%;
    text-align: center;
    font-family: 'Acme', sans-serif;
    padding: 5px;
    font-size: 20px;
    box-sizing: border-box;
}

.agendar:hover {     
    transform: rotate(360deg);
    transition: .5s ease-in-out;
}

.formulario {
    text-decoration: none;
    color: black;
}