@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Emilys Candy', cursive;
    background-color: #f3f5f7;
    font-size: x-large;
    color: rgb(16,75,43);
    
}

.container {
    padding: 0 30%;
}


img {
    width: 300px;
    border-radius: 50%;
}

label, select {
    display: block;
}

input, textarea {
    margin-bottom: 15px;
    border-color: rgb(253,184,19);
}

select {
    margin: 0 auto 15px;
}

fieldset{
    margin: 20px 0;
    padding: 15px 0;
    border-color: rgb(253,184,19);
}

.pagamento label{
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}


legend{
    padding: 0px 10px;
}

.opcionais label  {
    display: inline-block;
}

button {
    margin: 3% 0;
}

.submit {
    background-color: rgb(16,75,43);
    color: white;
}

.reset {
    background-color: rgb(251,234,3);
   
}

p {
    padding: 3px;
}

.quantidade {
    padding: 10px;
}